body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container { 
  margin: 4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    background-color: #dddddd;
}

nav li {
    display: inline;
    padding: 0.25em
}

nav li a.active {
  background-color: black;
  color: white
}

nav li a:hover {
  background-color: rgb(156, 156, 156);
  color: white
}

nav li a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dot-pulse {
  position: absolute;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #dd2113;
  color: #dd2113;
  box-shadow: 9999px 0 0 -5px #dd2113;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
  margin-left: 50%;
  margin-top: 20%;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #dd2113;
  color: #dd2113;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #dd2113;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #dd2113;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #dd2113;
  }
  30% {
    box-shadow: 9984px 0 0 2px #dd2113;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #dd2113;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #dd2113;
  }
  30% {
    box-shadow: 9999px 0 0 2px #dd2113;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #dd2113;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #dd2113;
  }
  30% {
    box-shadow: 10014px 0 0 2px #dd2113;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #dd2113;
  }
}
